body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 350px;
  background-color: pink;
  padding: 20px;
  border-radius: 5px;
  height: 350px;
}

.list-wrapper {
  width: 300px;
  margin-top: 100px;
  border: 2px double palevioletred;
}

.shopping-list {
  list-style-type: none;
  padding: 0;
}

.shopping-list li {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.new-list-item-form {
  margin-top: 120px;
  border-style: 1px dashed pink;
}

.new-list-item-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-list-item-form label {
  font-weight: bold;
  margin-bottom: 10px;
}

.new-list-item-form input {
  padding: 5px;
  margin-bottom: 10px;
}

.new-list-item-form button {
  padding: 5px;
  width: 100%;
  background-color: #f0f0f0;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
