body {
  background-color: #9feac8;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.todo-container {
  margin: 20px auto;
  padding: 2rem;
  background-color: #fff;
  width: 400px;
  border-radius: 10px;
}

li {
}

li .btn-delete {
  border: none;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  margin: 1rem;
}

.btn-delete {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
}

.btn-delete:hover {
  background-color: #da190b;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #ff4081;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 2px 10px;
}

button:hover {
  background-color: #ff80ab;
}

button:focus {
  outline: none;
}

/* Componente AddTodo */

.add-todo-container {
  margin: 0 auto;
  padding: 2rem;
  width: 400px;
  background-color: bisque;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.add-todo-title {
  font-size: 20px;
  font-weight: bold;
  color: #ff5252;
}

.add-todo-form {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-todo-input {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 2px 10px;
}

.add-todo-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-todo-button:hover {
  background-color: #45a049;
}
