body {
  background-color: #9feac8;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #ff5252;
  margin-bottom: 10px;
}

.todo-container {
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-list li.completed span {
  text-decoration: line-through;
  color: gray;
}

.todo-list li button {
  margin-left: 10px;
}
span {
  font-size: 16px;
  color: #ff5252;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #ff4081;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #ff80ab;
}

button:focus {
  outline: none;
}

/* Componente AddTodo */

#add-todo-container {
  margin-top: 20px;
}

.add-todo-title {
  font-size: 20px;
  font-weight: bold;
}

.add-todo-form {
  margin-top: 10px;
}

.add-todo-input {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-todo-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-todo-button:hover {
  background-color: #45a049;
}
